// $black-color: #161722;
// $primary-color: #FFD2A4;
// $primary-hover: #F2C79B;
// $light-color: #FFF5EB;
// $gray-color: #F5F2F0;
// $white-color: #FFFFFF;

$black-color: #161722;
$primary-color: #73a242;
$primary-hover: #A3D174;
$light-color: #c7e5a8;
$gray-color: #F5F2F0;
$white-color: #FFFFFF;

$grid-gap-main: 24px;
$grid-gap-tablet: 18px;